{% extends 'base.html' %}


{% block title %}Upload images {% endblock %}
{% block additional_css %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}">
{% endblock %}
{% block content %}
    {% if message %}
        <h1>{{ message }}</h1>
    {% endif %}
 <form method="post" enctype="multipart/form-data">
 {% csrf_token %}
 <input id="cnv" name="cnv" multiple type="file">

<input type="submit">

 </form>

{% endblock %}