<html>
<head>
  {% load static %}
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'indx/aventuss-main/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/img.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700&amp;display=swap">
    <link rel="stylesheet" href="{%  static 'indx/aventuss-main/assets/fonts/font-awesome.min.css'  %}">
    {% block additional_css %}{% endblock %}
</head>
<body>

  <nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="{%  url 'home' %}"><span>Cognitive Resilience</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="{%  url 'server_index' %}">Server Home </a></li>  
                <li class="nav-item"><a class="nav-link " href="{%  url 'server_train' %}">Train ML</a></li>
                    
                <li class="nav-item"><a class="nav-link " href="{%  url 'cli_info' %}">Client Data</a></li>

            </ul>
        </div>
    </div>
</nav>

    
    <main>
        {% block content %}{% endblock %}
    </main>
    
  
</body>
</html>
