{%  extends 'server_base.html' %}


{% block title %}Classfication{% endblock %}
{% block additional_css %}
    {{ block.super }}
    {% load static %}
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    {% endblock %}
    {% block content %}
    <header class="pt-5">
        <div class="container pt-4 pt-xl-5">
            <div class="row pt-5">
                <div class="col-md-8 text-center text-md-start mx-auto">
                    <form method="post" >
                        {% csrf_token %}
                        <label for="usernames">Client Name:</label>
                        <select id="usernames" name="usernames">
                            <option value="">Select a client</option>
                            {% for name, email in form %}
                                <option value="{{ email }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Send Email</button>
                    </form>
                    
    <form method="post" action="{%   url 'object' %}" >
        {% csrf_token %}
        <label for="object">Enter the object_id:</label>
        <input type="text" id="id_user" name="id_user">
        <button type="submit">Add the Parameters</button>
    </form>

                    <div class="text-center">
    




    <table>
        <tr>
            <th>Object ID</th>
            <th>Client Name</th>
            <th>Model Accuracy</th>
            <th>Model Loss</th>
        </tr>
        {% for item in data %}
            <tr>
                <td>{{ item.object_id }}</td>
                <td>{{ item.client_name }}</td>
                <td>{{ item.model_acc }}</td>
                <td>{{ item.model_loss }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
                </div>
            </div>
        </div>
    </header>
    
    {% endblock %}